<p class="font-italic text-center" style='font-size: 20px'>Hi {{user.fullName}}! Chào mừng bạn đã đến với trang quản trị!!!</p>
<style>
    footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    }
</style>