
<div class="alert alert-success" role="alert" style='margin-top:30px'>
  <h4 class="alert-heading">Đặt hàng thành công!</h4>
  <p>Chúng tôi đã nhận được đơn hàng của bạn và cửa hàng sẽ liên hệ xác nhận với bạn trong thời gian sớm nhất.</p>
  <hr>
  <p class="mb-0">Rất vui lòng được phục vụ bạn!</p>
  <p>Mã đơn hàng của bạn là #{{orderId}}. <a href='/searchOrder'>Tra cứu hành trình đơn hàng của bạn tại đây</a></p>
</div>
<a href='/'>Quay lại trang chủ</a>

<div></div>
<div></div>
<div></div>
<div></div>
<div></div>

