<div class='policies'>
    <h2>Chính sách của chúng tôi</h2><br>
    <p>{{{content.policiesContent}}}<br></p><br>
    
</div>
<div class="fb-comments" data-href="https://smartphone-store-do-an3.herokuapp.com/policies" data-width="1100" data-numposts="5"></div>
<style>
    .policies{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h2 {
    text-align: center;
    }
    h3 {
        text-align: left;
    }
    p {
        text-align: justify;
    }
    
</style>

