<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartphone Store</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel='icon' href='https://dsm01pap001files.storage.live.com/y4pJOPJ-e-QXm_FLzmS6NTmcL1sHYQE1ULi7dXcaNWoZsAt-zXDsKHgoX226iinnAYZlNnmsLkK4uB-KnpkiaIGVuHmKxFw6ZM903Vh9GeBsHJeycz_zzEjts6xgdSPvyJe3HjCk29IuN-lMv7Xd1ZW9Md5udAe1lcKKVYvC18sP4RJeFTvw60bVzjpvk9JON99Z-WqC3fyJ5kYW57w8VjmHyib6LQGRSlMekQ1V4Ti1To/icon.png?psid=1&width=100&height=100&cropMode=center'/>
</head>
<body style='background-color: {{content.bodyBackground}}'>
    <div class='app' id='app'>
        {{>header}}
        <div class="container" style='padding-top: 80px;'>
            {{{body}}}
        </div>
        
    </div>
    {{>footer}}
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/217b78131f.js" crossorigin="anonymous"></script>  
    <script src="https://cdn.tiny.cloud/1/1ug47vgdql1e4qmmnkgz73jzpxlwfmin5ptoo67vloxi6pmf/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector:'.toHTML',
        height: 1000});
    </script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0" nonce="qHEfDuCj"></script>

</body>

</html>