<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartphone Store</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel='icon' href='https://dsm01pap001files.storage.live.com/y4pJOPJ-e-QXm_FLzmS6NTmcL1sHYQE1ULi7dXcaNWoZsAt-zXDsKHgoX226iinnAYZlNnmsLkK4uB-KnpkiaIGVuHmKxFw6ZM903Vh9GeBsHJeycz_zzEjts6xgdSPvyJe3HjCk29IuN-lMv7Xd1ZW9Md5udAe1lcKKVYvC18sP4RJeFTvw60bVzjpvk9JON99Z-WqC3fyJ5kYW57w8VjmHyib6LQGRSlMekQ1V4Ti1To/icon.png?psid=1&width=100&height=100&cropMode=center'/>
    
</head>
<body>
    <div class='app' id='app'>
        {{>header}}
        <div class="container" style='padding-top: 80px;'>
            {{{body}}}
        </div>
        
    </div>
    {{>footer}}
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>